<div class="row">
    <div class="col-md-12 text-center">
        <p>
            Ingrese al chat con su cuenta favorita
        </p>
        
        <button (click)="ingresar('Google')" 
                class="btn btn-outline-primary">Google</button>
        
        <button (click)="ingresar('Github')" 
                class="btn btn-outline-primary ml-2">GitHub</button>

                <button (click)="ingresar('Facebook')" 
                class="btn btn-outline-primary ml-2">Facebook</button>
    </div>
</div> 


