<h1>Heroe <small>Nombre del heroe</small></h1>

<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-outline-danger" [routerLink]="['/heroes']">
             <i class="fa fa-arrow-left" aria-hidden="true">Regresar </i>
        </button>
    </div>
</div>

<hr>

<div class="row animated fadeIn slow">
    <div class="col">
        <form (ngSubmit)= 'guardar(formulario)' #formulario='ngForm' >

            <div class="form-group">
                <label>Firebase ID</label>
                <input disabled='disabled' 
                       class="form-control" 
                       type="text"
                       [(ngModel)]="heroe.id" 
                       name="id" 
                       id="">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                    <label>Nombre:</label>
                    <input placeholder="Nombre del heroe"
                           required
                           class="form-control"
                           type="text"
                           [(ngModel)]="heroe.nombre"
                           name="nombre"
                           id="">
            </div>

        <div class="form-group">
                <label>Poder:</label>
                <input placeholder="Poder del heroe"
                       class="form-control"
                       type="text"
                       [(ngModel)]="heroe.poder"
                       name="poder"
                       id="">
        </div>

        <div class="form-group">
            <label>estado:</label>
			 <hr>
             <button *ngIf="heroe.vivo"
                      (click)="heroe.vivo = false"
                      class="btn btn-outline-success w-50" type="button">
				 <i class="fa fa-smile-wink"></i>
				 Vivo
			 </button>
             <button  *ngIf="!heroe.vivo"
                      (click)="heroe.vivo = true" 
                      class="btn btn-outline-danger w-50" type="button">
				<i class="fa fa-dizzy "></i>				
				Muerto
			</button>
		</div>
		

		<hr>
		<div class="form-group  text-center">
			<button [disabled]= "formulario.invalid" type="submit" class="btn btn-primary w-25">
				<i class="fa fa-save"></i>
				Guardar
			</button>  
		</div>

        </form>
    </div>
</div>

{{heroe}}













