

<h1>Chat</h1>
<hr>
<div class="app-mensajes " id="app-mensajes">

    <!-- <div class="text-right">
        <span class="badge badge-primary">Adrian</span>
        <p>Este es un mensaje de chat</p>
    </div>

    
    <div>
        <span class="badge badge-success">Maria</span>
        <p>Hola :v</p>
    </div> -->

    <div *ngFor="let chat of chatservice.chats"
          [ngClass]="{'text-right': chatservice.usuario.uid === chat.uid}">
        <span class="badge "
              [ngClass]="{'badge-primary': chatservice.usuario.uid === chat.uid, 'badge-success':chatservice.usuario.uid != chat.uid }" >
             {{chat.nombre}}</span> 
        <p>{{chat.mensaje}}</p>
    </div>

    
    




</div>


    
<input  
        #campotexto type="text" [(ngModel)]="mensaje" (keyup.enter)='enviarMensaje()' class="form-control "
name="mensaje" id="mensaje" placeholder="Enviar mensaje">



